<h1>Request list</h1>

<h2>Trap name: <%= @trap.name %></h2>

<table class="request-table">
  <tr>
    <th>
        Request date
    </th>
    <th>
        Remote IP
    </th>
    <th>
        Request method
    </th>
    <th>
        Scheme
    </th>
    <th>
        Query string
    </th>
    <th>
      Show
    </th>
  </tr>
  <% @trap.requests.each do |request| %>
    <%= render partial: 'request_row', locals: {request: request}%>
  <% end %>

</table>

